* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #429c45;
}

section {
  padding: 80px 0;
}

.container-lg {
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.btn {
  padding: 1.25rem 2.5rem;
  border-radius: 3px;
  background-color: #429c45;
  color: white;
  display: inline-block;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.btn:hover {
  background: #1a753c;
  color: #fff;
}

.btn-sm {
  padding: 0.5rem 1rem;
}

/* HEADER STYLES */
header {
  border-top: 8px solid #429c45;
}

.infobar {
  padding: 1rem 0;
  font-size: 0.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.infobar__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.infobar__contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.infobar__icon {
  height: 30px;
}

.logo {
  width: 400px;
  height: auto;
}

.navbar {
  padding: 1rem 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* HERO STYLES */
.hero {
  height: 55vh;
  position: relative;
  background: url(../img/header.jpg);
  background-size: cover;
  background-position: center;
}

.hero__content {
  position: relative;
  top: 30%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  text-align: center;
}

.prefix {
  margin: 0 auto 0.75rem auto;
  padding: 0.75rem;
  font-size: 1rem;
  width: 200px;
  text-transform: uppercase;
  border-bottom: 3px solid #fff;
}

.tagline {
  font-size: 4rem;
}

.animation__wrapper {
  display: inline-block;
}

.animation__wrapper::after {
  content: '';
  -webkit-animation: slidein 16s ease-in-out infinite;
          animation: slidein 16s ease-in-out infinite;
}

@-webkit-keyframes slidein {
  0% {
    content: 'Baubegleitung';
  }
  20% {
    content: 'Neu- & Umbauten';
  }
  40% {
    content: 'Malerarbeiten';
  }
  60% {
    content: 'Gipserarbeiten';
  }
  80% {
    content: 'Reinigungen';
  }
  100% {
    content: 'Baubegleitung';
  }
}

@keyframes slidein {
  0% {
    content: 'Baubegleitung';
  }
  20% {
    content: 'Neu- & Umbauten';
  }
  40% {
    content: 'Malerarbeiten';
  }
  60% {
    content: 'Gipserarbeiten';
  }
  80% {
    content: 'Reinigungen';
  }
  100% {
    content: 'Baubegleitung';
  }
}

.hero__text {
  margin: 1rem 0;
  font-size: 1.5rem;
}

/* WELCOME STYLES */
.welcome {
  background: #f4f4f4;
}

.welcome .flex {
  gap: 3rem;
}

.welcome .flex img {
  width: 300px;
}

.dienstleistungen > .flex-between {
  gap: 1.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dienstleistungen__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 350px;
          flex: 1 1 350px;
  height: 300px;
  min-width: 30%;
  background: #f4f4f4;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.dienstleistungen__item:hover .dienstleistungen__caption {
  background: #1a753c;
  color: #fff;
}

.dienstleistungen__item-cta {
  padding: 2rem;
  font-size: 1.5rem;
  text-align: center;
  background: #429c45;
  color: #fff;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.dienstleistungen__item-cta:hover {
  background: #1a753c;
  color: #fff;
}

.dienstleistungen__item-cta > p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.reinigungen,
.baubegleitung,
.gipserarbeiten,
.malerarbeiten,
.bauten {
  height: 100%;
  position: relative;
}

.baubegleitung {
  background: url("../img/baubegleitung.jpg") center;
  background-size: cover;
}

.bauten {
  background: url("../img/bauten.jpg") center;
  background-size: cover;
}

.malerarbeiten {
  background: url("../img/malerarbeiten.jpg") center;
  background-size: cover;
}

.gipserarbeiten {
  background: url("../img/gipserarbeiten.jpg") center;
  background-size: cover;
}

.reinigungen {
  background: url("../img//reinigung2.jpg") center;
  background-size: cover;
}

.dienstleistungen__caption {
  padding: 1rem;
  font-size: 1.25rem;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: #429c45;
  color: #fff;
}

/* DIENSTLEISTUNGEN STYLES */
.service__item {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #f4f4f4;
}

.service__item:last-child {
  margin: 0;
}

.service__img,
.service__description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  width: 50%;
  min-width: 400px;
  min-height: 400px;
}

.service__description {
  padding: 2rem;
}

.service__header {
  margin-bottom: 1rem;
  color: #429c45;
}

.odd {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

/* FOOTER STYLES */
footer {
  padding: 80px 0;
  background: #429c45;
  color: white;
}

.footer__logo {
  width: 300px;
}

.footer__contact {
  gap: 3rem;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.footer__socials img {
  height: 40px;
  color: #fff;
}

.footer__address,
.footer__web,
.footer__socials {
  padding-top: 20px;
}
/*# sourceMappingURL=main.css.map */